.background-song-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(34, 33, 33);
    background-color: aliceblue;
   
    position: relative;
    z-index: 0;
    box-sizing: border-box;
   overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .prueba1 {
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    background-color: rgb(34, 33, 33);
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
  }
  
  .input-search-container {
    width: 400px;
    height: auto;
    padding: 0px 0px 0px 0px;
    background-color: rgb(24, 24, 24);
    box-sizing: border-box;
    border-radius: 10px 10px;
    display: flex;
    flex-direction: column;
   
  }
  
  .input-container {
    width: 100%;
    height: 40px;
    padding: 0px;
    background-color: transparent;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  
  .input-container > i {
    width: 10%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .input-container > input {
    width: 90%;
    height: 80%;
    padding-left: 10px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .history-container {
    width: 100%;
    height: 100px;
    background-color: rgb(151, 149, 146);
    color: aliceblue;
  }
  .prueba2{
    width: 100%;
    min-height:100vh;
    padding:0px;
    padding-bottom: 100px;
    overflow-y: auto;
    background-color: rgb(34, 33, 33);
    background-color: aliceblue;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(10, auto);
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 20px 10px;
    z-index: 0;
  }


  @media (max-width:425px) {
    .background-song-container {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      background-color: rgb(92, 29, 175);
      box-sizing: border-box;
     overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    
    .prueba1 {
      width: 100%;
      height: 70px;
      padding: 10px 10px;
      margin: 0px;
      background-color: whitesmoke;
      
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }
    
    .input-search-container {
      width:100%;
      height: 95%;
      padding: 0px 0px;
      margin: 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), /* Sombra principal */
              0 1px 3px rgba(0, 0, 0, 0.08);
    }
    
    .input-container {
      width: 100%;
      height: 100%;
      padding: 10px;
      margin: 0;
      background-color: transparent;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      box-sizing: border-box;
      border-radius: 10px;
      overflow: hidden;
    
    }
    
    .input-container > .magnifying-glass {
      width: 10%;
      height: 100%;
      margin: 0;
      padding: 0 7px;
      background-color: transparent;
      box-sizing: border-box;
      overflow: hidden;
      fill:#3E3E3F;
    }
    
    .input-container > input {
      width: 90%;
      height: 100%;
      margin: 0;
      padding: 15px 0px;
      padding-left: 10px;
      border: none;
      border-radius: 0px 10px 10px 0px;
      font-size: 1rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 600;
      box-sizing: border-box;
      background-color:rgba(255, 255, 255, 0.411);
      caret-color: crimson;
    }
    .input-container > input:focus{
      outline: none;
    }
    
    .history-container {
      width: 100%;
      height: 100px;
      background-color: rgb(151, 149, 146);
      color: aliceblue;
    }
    /************************************/
    .prueba2{
      width: 100%;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      display: block;
    }
    .result-video{
      width: 100%;
      min-height:100vh;
      height: auto;
      margin:0px;
      padding:20px 2px;
      padding-bottom: 160px;
      overflow-y: auto;
      display: grid;
      grid-template-columns:1fr 1fr;
      grid-template-rows: repeat(auto-fill, 156px);
      align-items: center;
      justify-content: center;
      justify-items: center;
      gap: 10px;
      z-index: 0;
      box-sizing: border-box;
      background-color: rgb(20, 20, 20);
      background-color: white;
    }
  }