.youtubePlayerIframeContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(20, 20, 20);
}

.iframeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#youtubeIframe {
    width: 100%;
    height: 400px;
    max-width: 600px;
    background-color: aliceblue;

}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgb(36, 37, 37);
}
::-webkit-scrollbar-thumb{
    background-color: crimson;
}

@media (max-width:425px) {
    .youtubePlayerIframeContainer{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40vh 1fr;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color:white;
        overflow: hidden;
    }
    
    .iframeContainer {
        width:100%;
        height:100%;
        background-color: transparent;
        overflow: hidden;
    }
    
    #youtubeIframe {
        width: 100%;
        height:60vh;
        max-width: 600px;
       
    
    }
    
  }