
   .itemResultSearchContainer{
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #0f0f0f;
    color: aliceblue;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .imageSearchContainer{
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    background-color: transparent;
    
  }
  .titleSearchContainer{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    font-size: 0.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleSearchContainer:hover{
    background-color: crimson;
  }
@media (max-width:425px) {
    .itemResultSearchContainer{
      width: 100%;
      height: 100%;
      padding: 0px ;
      background-color: black;
      color: aliceblue;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .imageSearchContainer{
      width: 100%;
      height:180px;
      margin: 0;
      padding: 0;
      object-fit: contain;
      background-color: transparent;
    }
    .titleSearchContainer{
      width: 100%;
      height:74px;
      padding: 0.5re8 10px;
      font-size: 0.9em;
      
    }
    .itemNewContainer{
      width: 98%;
      height: 254px;
      border-radius: 10px;
      position: relative;
      z-index: 0;
      overflow: hidden;
    }
    .itemImage{
      width: 100%;
      height: 100%;
      border-radius: 10px;
      z-index: 0;
      object-fit: cover;
    }
    .description{
      width: 100%;
      min-height: 74px;
      margin: 0;
      padding: 10px;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 600;
      text-align: start;
      box-sizing: border-box;
      
      position: absolute;
      bottom:0;
      z-index: 2;
      display: flex;
      align-items: flex-end; 
    }
    .filtro{
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, transparent 0%, rgba(5, 5, 5, 0.979) 90%);
      position: absolute;
      top: 0;
      right: 0;
      z-index:1 ;
    }
  }