
.listItemContainer{
    width: 100%;
    height: 80px;
    padding: 2px 0px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    position: relative;
    
}


.listItemContainer  > .imageItem{
    width: 38%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(176, 177, 176);
    border-radius: 10px 10px 10px 10px;
}

.listItemContainer > .timeVideo{
    display: inline-block;
    padding: 5px;
    background-color: rgba(253, 253, 253, 0.445);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(245, 239, 239);
    position: absolute;
    left: 25%;
    bottom: 0%;
    display: none;
}
.listItemContainer > .titleContainer {
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0px 5px;
    font-size: 0.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    color: rgb(250, 250, 250);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.titleContainer > .imageChannelContainer{
    margin: 0;
    padding: 0;
    width: 16%;
    height: 70%;
    border-radius: 50%;
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
}
.imageChannelContainer > img{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}
.titleContainer > .description{
    margin: 0;
    padding: 0px 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    
}
.description > .descriptionTitle{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0px 10px;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    background-color: hotpink;
    box-sizing: border-box;
    overflow: hidden;
}
.description > span{
    display: none;
    padding: 0 10px;
   color: gray;
    background-color: transparent;
}

.listItemContainer > .titleContainer:hover {
    background-color: rgb(65, 63, 64);
}

@media (max-width:425px) {
 
    .listItemContainer {
        width: 100%;
        height: 280px;
        padding: 0px 0px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }
    
    
    .listItemContainer  > .imageItem {
        width: 100%;
        height: 180px;
        object-fit: cover;
        background-color: transparent;
        border-radius: 0px ;
    }
    .listItemContainer > .timeVideo{
        display: inline-block;
        padding: 5px;
        background-color: rgb(29, 29, 29);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        color: white;
        position: absolute;
        right: 1%;
        bottom: 34%;
    }
    .listItemContainer > .titleContainer {
        width: 100%;
        height: 90px;
        margin: 0;
        padding: 0 5px;
        background-color: rgb(58, 57, 57);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .titleContainer > .imageChannelContainer{
        margin: 0;
        padding: 0;
        width: 16%;
        height: 70%;
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imageChannelContainer > img{
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
        border-radius: 50%;
    }
    .titleContainer > .description{
        margin: 0;
        padding: 5px 0;
        width: 84%;
        height: 100%;
        background-color: transparent;
        
    }
    .description > .descriptionTitle{
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0px 10px;
        font-size: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 500;
        line-height: 50px;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: transparent;
        box-sizing: border-box;
        overflow: hidden;
    }
    .description > span{
        display: block;
        padding: 0 10px;
       color: gray;
        background-color: transparent;
    }
  }