.youtube-player-iframe-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(20, 20, 20);
}

.iframe-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#youtube-iframe {
    width: 100%;
    height: 400px;
    max-width: 600px;
    background-color: aliceblue;

}

.list-music-youtube-iframe {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-bottom: 100px;
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
    gap: 5px;
    box-sizing: border-box;

}

.list-music-youtube-iframe>.list-item-container {
    width: 100%;
    padding: 2px 0px;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.list-music-youtube-iframe >.list-item-container:hover  .title-container{
    background-color: crimson;
}

.list-music-youtube-iframe>.list-item-container>img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
    border-radius: 10px 0px 0px 10px;
}

.list-music-youtube-iframe>.list-item-container > .title-container {
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(58, 57, 57);
    color: aliceblue;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container > h3{
    width: auto;
    background-color: transparent;
}
.scrolling-text {
   width: 300px; /* Ancho del contenedor */
    overflow: hidden; /* Oculta el texto que desborda */
    white-space: nowrap; /* Evita que el texto salte a una nueva línea */
    position: relative;
    background-color:black;
  }
  .scrolling-text h3 {
    display: inline-block; /* Necesario para animar */
    padding-left: 100%; /* Da espacio para el efecto de bucle */
    animation: scroll-text 8s linear infinite; /* Duración y bucle infinito */
    background-color:yellow;
  }

.list-music-youtube-iframe >.list-item-container > .title-container:hover {
    background-color: crimson;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgb(36, 37, 37);
}
::-webkit-scrollbar-thumb{
    background-color: crimson;
}


@keyframes scroll-text {
    0% {
      transform: translateX(0%); /* Inicia fuera del contenedor por la derecha */
    }
   
    100% {
      transform: translateX(-100%); /* Regresa al punto inicial */
    }
  }
  